{% extends "head_foot.html" %}
{% block content %}
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="pb-md-3 xlTitle">Art</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="lightBg">
        <div class="container">
          <div class="portfolioContentMain">
            <div class="row g-3 g-md-4 g-lg-5 portfolioRow">
              {% for art_project in art_projects %}
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <a onclick="enlargeImage('{{art_project.image.url}}')">
                    <img src="{{art_project.image.url}}" alt="{{art_project.title}}" class="pImg">
                  </a>
                </div>
              </div>
              <img class="navToggle__text" src="resources/images/art/{{art_project.url}}" alt="Toggle Image">
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
