{% extends "head_foot.html" %}
{% block content %}
<body class="art-page">
  <section>
    <div class="innerPageBannerCol">
      <div class="container">
        <div class="row g-4 g-md-3  align-items-center">
          <div class="col-md-6">
            <div class="bannerContent">
              <h1 class="pb-md-3 xlTitle">Art</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <form id="filter-form" hx-get="{% url 'art_page' %}" hx-target="#art-gallery" hx-trigger="change">
      <div class="checkbox-container">
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox-input" name="filters" value="DIGITAL" checked />
          <span class="checkbox-custom">Digital</span>
        </label>
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox-input" name="filters" value="PASTEL" checked />
          <span class="checkbox-custom">Pastel</span>
        </label>
        <label class="checkbox-label">
          <input type="checkbox" class="checkbox-input" name="filters" value="SKETCH" checked />
          <span class="checkbox-custom">Sketch</span>
        </label>
      </div>
    </form>
  </section>
  <section>
    <div class="lightBg">
      <div class="container">
        <div class="portfolioContentMain" id="art-gallery">
          {% if art_projects or art_projects|length == 0 %}
          <div class="row g-4 g-md-4 g-lg-5 portfolioRow">
            {% for art_project in art_projects reversed %}
            <div class="col-md-4 pColMain">
              <div class="pCol" style="position: relative; width: 100%; padding-top: 100%;">
                <a onclick="enlargeImage('{{art_project.image.url}}', '{{art_project.title}}')" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;" data-type="{{art_project.medium}}">
                  <img src="{{art_project.image.url}}" alt="{{art_project.title}}" class="pImg" style="width: 100%; height: 100%; object-fit: cover;">
                  <!-- onload="freezeGif(this)" -->
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <p>Här fans det inga konstverk kvar</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</body>

{% load static %}
<script src="{% static 'js/shader/first.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<script>
function freezeGif(img) {
    if (img.src.endsWith('.gif')) {
        const canvas = document.createElement('canvas');
        const context = canvas.getContext('2d');
        const gif = new Image();
        gif.src = img.src;
        gif.onload = function() {
            const aspectRatio = gif.width / gif.height;
            canvas.width = gif.width;
            canvas.height = gif.height;
            context.drawImage(gif, 0, 0, gif.width, gif.height);
            // Set canvas styles to match the image
            canvas.style.position = 'absolute';
            canvas.style.top = '0';
            canvas.style.left = '0';
            canvas.style.width = '100%';
            canvas.style.height = '100%';
            canvas.style.objectFit = 'cover';
            img.parentNode.replaceChild(canvas, img);
        };
    }
}
</script>
{% endblock %}
