{% extends "head_foot.html" %}
{% block content %}

<section>
  <div class="col-md">
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="pb-md-3 xlTitle">See my recent code projects below</h1>
            <!--TODO 
            <h4 class="smTitle pb-3">Coding Skills</h4>
            <div class="progressCol">
              <div class="progressCard">
                {% for skill in skills %}
                  <div class="progressCol">
                    <span class="progressLbl">{{skill.title}}</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" id="{{skill.title}}" role="progressbar" style="width: 0%" aria-valuenow="{{skill.procentige}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl" id="pro{{skill.title}}">{{skill.procentige}}%</span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            -->
          </div>
            <p>
              I enjoy coding here are some projects I have started. All of them are not quite done. Lots of the projects are in python but some are written in C and JS. If one of the projects seam intresting don't hesitate to build on it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section>
      <div class="lightBg">
        <div class="container">
          <div class="portfolioContentMain">
            <div class="row g-3 g-md-4 g-lg-5 portfolioRow">
              {% for project in code_projects %}
              <div class="col-md-6 pColMain">
                <div class="pCol">
                  <h5><span>{{project.titel}}</span>
                    <span>
                      <time class="dateLbl">{{project.year}}</time>
                    </span>
                  </h5>
                  <a href="{{project.href}}">
                    <img src="resources/images/portfolio/{{project.image}}" alt="{{project.titel}}" class="pImg">
                  </a>
                  <p>{{project.description}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}