{% extends "head_foot.html" %}
{% block content %}
    <!-- ================================
    Start Content
    ================================= -->
    <section>
      <div class="innerPageBannerCol">
        <div class="container">
          <div class="row g-4 g-md-3  align-items-center">
            <div class="col-md-6">
              <div class="bannerContent">
                <h1 class="pb-md-3">Contact me below</h1><!--xlTitle -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="lightBg">
        <div class="container">
          <form
          id="contactForm"
          action="TODO"
          method="post"
          >
          <label>
            Your email:
            <input type="email" id="email" name="email" placeholder="Email">
          </label>
          <label>
            Your message:
            <textarea name="message" placeholder="Write something.." rows="6"></textarea>
          </label>
          <!-- your other form fields go here -->
          <button type="submit" class='btn btnPrimary'>Send</button>
          </form>
        </div>
      </div>
    </section>	

{% endblock %}
